body{
    background-color: whitesmoke;
}
h1{
    position: relative;
}
table, th, td {
    border: 1px solid black;
 } 
 input[type=text], select {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#loading{
    width:10%;
    height:10%;
}
#tick{
    width:10%;
    width:10%;
}