<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Top do App</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<img id = "loading" src ="my app">
	<header>
		<h1>
                <a href="index.html">Home</a>
                <a href="listTask.html">List All tasks</a>
        </h1>

        <form action="/data" method="POST">
            Task Name:
            <input type="text" name="tname" /> </br>
            Task Due:
            <input type="text" name="tdue" /> </br>
            Task Desc:
            <input type="text" name="tdesc" /> </br>
            <button>Submit</button>
        </form>
	</header>

</body>

</html>